@import 'variables';

.catalog{
  .catalog-title{
    font-family: $main-font;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.01em;
    color: $text-primary-color;
    margin-top: 32px;
  }
  .catalog-list{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items:center;
    @media(max-width:991px){
      grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width:768px){
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .category-button{
    margin-right:9px;
  }
  .control_panel{
    display:flex;
    justify-content:space-between;
    @media(max-width:1200px){
      flex-direction:column-reverse;
    }
    .categories{
      @media(max-width:1200px){
        width:100%;
        overflow-x:scroll;
        display:flex;
      }
    }
  }
}