@import 'variables';

.error-page{
  margin:0 auto;
  height:calc(100vh - 124px - 131px);
  display:flex;
  flex-direction: column;
  justify-content: center;
  p{
    text-align:center;
    font-family: $main-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #777777;
    margin-top: 10px;
  }
}