@import 'variables';
@import 'button';

.orange-button{
  @extend %button;

  background-color: $half-button-background-color;
  border:none;
  padding:15px 27px;
  text-align: center;
  color: white;
  &:hover{
    cursor:pointer;
  }

}