//Colors
$main-border-color: #FFDF8C;
$text-primary-color: #000;
$text-secondary-color: #EB5A1E;
$border-primary-background: #FE5F1E;
$border-secondary-background: #282828;

//Add-button
$add-button-background-color:#fff;
$add-button-hover-background-color: #FE5F1E;
$add-button-hover-text-color: #fff;

//Category-button
$category-button-background-color: #F9F9F9;
$category-button-text-color: black;
$category-button-hover-background-color: black;
$category-button-hover-text-color: white;

//Half-button
$half-button-background-color: #FE5F1E;
$half-button-text-color: white;

//Fonts
$main-font: 'Proxima Nova';
$button-font-weight: 700;
$button-font-size: 16px;
$button-line-height: 19px;


//Sizes
$main-border-size: 10px;
$button-radius:30px;
$add-button-padding: 10px 18px;


// Transition

$main-transition: all .3s ease-out;